body{
    background-color: black;
    font-family: sans-serif;
}
form{
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin: auto;
    width: 80%;
}
h1{
    color: silver;
    font-size: 50px;
}
label{

    display: inline-block;
}
#rate::-webkit-slider-thumb, #rate::-moz-range-thumb{
    background: blue;
}
.spacing{
    margin-bottom:15px !important;
}

.rate-slider-container{
    display: flex;
    justify-content: center;
    float: right;

}
input{
    margin: 0;
    float: right;
    
}
.form-centering{
    margin: auto;
    max-width: 300px;
}
.killMe, .principal{
    float: right;
}
.interest-rate-display{
    width: 30px;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

.yellow{
  background-color: yellow;
}
